<!--
    #authors:   Kaleb Eberhart
    #date:      04/20/2018
    #course:    CST-247
    #professor: Mark Reha
    #project:   Benchmark v.1
    #file:      Insert.cshtml
    #revision:  1.0
    #synapsis:  This view is where the user can insert a bible verse into the database.
                There's really no sort of filter or checks on what the user can place
                into the database, so there's always a possibility of fake verses or
                profanity. In a real app, I probably wouldn't include this feauture to
                regular users, but instead give it to admin.
-->

@model Benchmark.Models.VerseModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> listTest = new List<SelectListItem>();
    listTest.Add(new SelectListItem
    {
        Text = "Old Testament",
        Value = "Old"
    });
    listTest.Add(new SelectListItem
    {
        Text = "New Testament",
        Value = "New"
    });

    List<SelectListItem> listChap = new List<SelectListItem>();
    for (int i = 1; i <= 150; i++)
    {
        listChap.Add(new SelectListItem
        {
            Text = i.ToString(),
            Value = i.ToString()
        });
    }

    List<SelectListItem> listVerse = new List<SelectListItem>();
    for (int i = 1; i <= 176; i++)
    {
        listVerse.Add(new SelectListItem
        {
            Text = i.ToString(),
            Value = i.ToString()
        });
    }

}
<html>
<body>
    <div style="min-height:86vh;" align="center">
        <h1>Insert Bible Verse</h1>
        <hr />
        @using (Html.BeginForm("Insert", "Insert", FormMethod.Post))
        {
            @Html.DropDownListFor(Model => Model.Testament, listTest)
            <hr />
            @Html.Label("Book")
            @: :&nbsp
            @Html.EditorFor(Model => Model.Book, new { htmlAttributes = new { style = "width:100px;" } })
            <br />
            @Html.ValidationMessageFor(Model => Model.Book, "", new { @class = "text-danger" })
            <hr />
            @Html.Label("Chapter")
            @: :&nbsp
            @Html.DropDownListFor(Model => Model.Chapter, listChap)
            <hr />
            @Html.Label("Verse")
            @: :&nbsp
            @Html.DropDownListFor(Model => Model.Verse, listVerse)
            <hr />
            @Html.Label("Text")
            @: :&nbsp
            @Html.EditorFor(Model => Model.Text, new { htmlAttributes = new { style = "width:60%;", required = "required" } })
            <br />
            @Html.ValidationMessageFor(Model => Model.Text, "", new { @class = "text-danger" })
            <br /><br />
            <button class="btn btn-success" type="submit">Insert</button>
        }
    </div>
</body>
</html>